.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 20px;
}
.item {
    padding: 20px;
    background-color: #3498db;
    text-align: center;
    color: #fff;
}
/*dentro de media se modifica cualquier clase  segun los parametros*/
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}