
cafes {
   font-family: Arial, sans-serif;
    margin: 20px;

}

seccio{
    margin-bottom: 20px;
}
titol {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}
llista {
    list-style-type: disc;
    margin-bottom: 15px;
}
item {
    display: list-item;
    margin-left: 20px;
    color: green;
}
item:nth-child(1){
    list-style-type: disc;
}
item:nth-child(2){
    list-style-type: circle;
}
item:nth-child(3){
    list-style-type: square;
}
