boddy{
   font-style: italic;
}

button {
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 6px;
}
input{
    padding: 10px;
    border-color: #2A9D8F;
    border-radius: 6px;
}
#missatge{
    background-color: #4bd9ab;
}
div{
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
}